@using Bumbo.Data.Models
@model Bumbo.Web.Models.PrognosesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prognoses</h4>
<hr />
<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-primary" asp-action="Index"><i class="fas fa-chevron-left mr-2"></i>Go back</a>
    </div>
</div>
<div class="row">
    <div>
        <form asp-action="Store" asp-controller="Prognoses" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Prognoses.Count; i++)
            {
                <div class="row">
                    <div class="card my-4 col-8 px-0">
                        <div class="card-header">
                            <strong>@Model.Prognoses[i].Date</strong>
                        </div>
                        <div class="form-row card-body">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].Date" class="control-label"></label>
                                <input readonly asp-for="@Model.Prognoses[i].Date" class="form-control" />
                                <span asp-validation-for="@Model.Prognoses[i].Date" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].AmountOfCustomers" class="control-label"></label>
                                <input asp-for="@Model.Prognoses[i].AmountOfCustomers" class="form-control" />
                                <span asp-validation-for="@Model.Prognoses[i].AmountOfCustomers" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].AmountOfFreight" class="control-label"></label>
                                <input asp-for="@Model.Prognoses[i].AmountOfFreight" class="form-control" />
                                <span asp-validation-for="@Model.Prognoses[i].AmountOfFreight" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].BranchId" class="control-label"></label>
                                <select asp-for="@Model.Prognoses[i].BranchId" class="form-control">
                                    @foreach (Branch branch in ViewBag.Branches)
                                    {
                                        <option value="@branch.Id">
                                            @branch.Name (@branch.StreetName @branch.HouseNumber @branch.HouseNumberLetter, @branch.PostalCode)
                                        </option>
                                    }
                                    <span asp-validation-for="@Model.Prognoses[i].BranchId" class="text-danger"></span>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].WeatherDescription" class="control-label"></label>
                                <input asp-for="@Model.Prognoses[i].WeatherDescription" class="form-control" />
                                <span asp-validation-for="@Model.Prognoses[i].WeatherDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 my-4">
                        @if (Model.Prognoses[i].Holiday != null)
                        {
                            <div class="p-2 border rounded">
                                <p>Houd rekening met</p>
                                <h4>@Model.Prognoses[i].Holiday</h4>
                            </div>
                        }

                    </div>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}