@model Bumbo.Web.Models.PrognosesViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Maak nieuwe verwachting</h4>
<hr />
<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-primary" asp-action="Index"><i class="fas fa-chevron-left mr-2"></i>Go back</a>
    </div>
</div>
<div class="row">
    <div>
        <form asp-action="Store" asp-controller="Prognoses" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Prognoses.Count; i++)
            {
                <div class="row">
                    <div class="card my-4 col-8 px-0">
                        <div class="card-header">
                            <strong>@Model.Prognoses[i].GetDayName() | @Model.Prognoses[i].Date.ToShortDateString()</strong>
                        </div>
                        <div class="form-row card-body">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].AmountOfCustomers" class="control-label">Verwacht aantal bezoekers</label>
                                <input min="0" asp-for="@Model.Prognoses[i].AmountOfCustomers" class="form-control customerAmount" />
                                <span asp-validation-for="@Model.Prognoses[i].AmountOfCustomers" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].AmountOfFreight" class="control-label">Verwachte hoeveelheid vracht</label>
                                <input min="0" asp-for="@Model.Prognoses[i].AmountOfFreight" class="form-control freightAmount" />
                                <span asp-validation-for="@Model.Prognoses[i].AmountOfFreight" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.Prognoses[i].WeatherDescription" class="control-label mx-1">
                                    <i class="fas fa-cloud-showers-heavy"></i>
                                    <input asp-for="@Model.Prognoses[i].WeatherDescription" value="regen" type="radio" class="form-control weather" />
                                </label>
                                <label asp-for="@Model.Prognoses[i].WeatherDescription" class="control-label mx-1">
                                    <i class="fas fa-sun"></i>
                                    <input asp-for="@Model.Prognoses[i].WeatherDescription" value="zon" type="radio" class="form-control weather" />
                                </label>
                                <label asp-for="@Model.Prognoses[i].WeatherDescription" class="control-label mx-1">
                                    <i class="fas fa-cloud-sun"></i>
                                    <input asp-for="@Model.Prognoses[i].WeatherDescription" value="bewolkt" type="radio" class="form-control weather" />
                                </label>
                                <label asp-for="@Model.Prognoses[i].WeatherDescription" class="control-label mx-1">
                                    <i class="fas fa-bolt"></i>
                                    <input asp-for="@Model.Prognoses[i].WeatherDescription" value="storm" type="radio" class="form-control weather" />
                                </label>

                                <span asp-validation-for="@Model.Prognoses[i].WeatherDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Te maken arbeidsuren</label>
                                <input id="workingHours" class="form-control disabled" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Prognoses[i].BranchId"/>
                    <input type="hidden" asp-for="@Model.Prognoses[i].Date"/>
                    <div class="col-4 my-4">
                        @if (Model.Prognoses[i].LastWeekVisitors != 0)
                        {
                            <div class="p-2 border rounded">
                                <p>Bezoekers vorige week:</p>
                                <h4>@Model.Prognoses[i].LastWeekVisitors</h4>
                            </div>
                        }
                        @if (Model.Prognoses[i].LastYearVisitors != 0)
                        {
                            <div class="p-2 border rounded">
                                <p>Bezoekers vorig jaar:</p>
                                <h4>@Model.Prognoses[i].LastYearVisitors</h4>
                            </div>
                        }
                        @if (Model.Prognoses[i].Holiday != null)
                        {
                            <div class="p-2 border rounded">
                                <p>Houd rekening met</p>
                                <h4>@Model.Prognoses[i].Holiday</h4>
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}