@using Bumbo.Data.Models
@model IEnumerable<Bumbo.Data.Models.Prognoses>

@{
    ViewData["Title"] = "Index";
    //ViewData["UseContainer"] = false;
}

<h1>Prognoses</h1>

<div class="row">
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Weeknummer
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Weeks != null)
                {
                    int i = 1;
                    @foreach (var week in ViewBag.Weeks)
                    {
                        <tr>
                            <td>
                                <form asp-action="IndexPrognoses" method="post" class="text-right d-inline-block">
                                    <input type="hidden" name="week" value="@i">
                                    <label class="small mb-0">@week</label>
                                    <button type="submit" class="btn pt-0"><i class="bi bi-arrow-right"></i>Weeknummer: @i</button>
                                </form>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>

        </table>
    </div>

    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Prognose's
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Prognoses != null)
                {
                    @if (ViewBag.Prognoses.Count > 0)
                    {
                        <tr>
                            <th>
                                Dag
                            </th>
                            <th>
                                Aantal bezoekers
                            </th>
                            <th>
                                Hoeveelheid vracht
                            </th>
                        </tr>
                        @foreach (Prognoses prog in ViewBag.Prognoses)
                        {
                            <tr>
                                <td>
                                    @prog.Date.DayOfWeek
                                </td>
                                <td>
                                    @prog.AmountOfCustomers
                                </td>
                                <td>
                                    @prog.AmountOfFreight
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { @prog.Date, @prog.BranchId }) |
                                    @Html.ActionLink("Details", "Details", new { @prog.Date, @prog.BranchId }) |
                                    <form asp-action="Delete" method="post" class="text-right d-inline-block verify-delete">
                                        <input type="hidden" name="date" value="@prog.Date">
                                        <input type="hidden" name="branchId" value="@prog.BranchId">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i>Verwijder</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <form asp-action="Create" method="post">
                                    <input type="hidden" name="start" value="@ViewBag.Start"/>
                                    <input type="hidden" name="branchId" value="@ViewBag.BranchId"/>
                                    <button type="submit" class="btn">Maak nieuwe verwachting</button>
                                </form>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>