@model IEnumerable<Bumbo.Data.Models.AvailableWorktime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-for= asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolHoursWorked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finish)
            </td>
            <td>
                @item.User.GetFullName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolHoursWorked)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() }) |
                @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() })
            </td>
        </tr>
}
    </tbody>
</table>
