@model IEnumerable<Bumbo.Data.Models.AvailableWorktime>

@{
    ViewData["Title"] = "Index";
}

<h1>Beschikbaarheid</h1>

<p>
    <a asp-for= asp-action="Create"> <button class="btn btn-primary">Geef nieuwe beschikbaarheid door</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Werkdag
            </th>
            <th>
                Starttijd
            </th>
            <th>
                Eindtijd
            </th>
            <th>
                Medewerker
            </th>
            @if (ViewBag.UserAge < 18)
            {
                <th>
                    Schooluren
                </th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.WorkDate.Subtract(DateTime.Today).Days > 0)
            {
                <tr>
                    <td>
                        @char.ToUpper(ViewBag.cultureinfo.DateTimeFormat.GetDayName(item.WorkDate.DayOfWeek)[0])@ViewBag.cultureinfo.DateTimeFormat.GetDayName(item.WorkDate.DayOfWeek).Substring(1)-@item.WorkDate.Day-@char.ToUpper(ViewBag.cultureinfo.DateTimeFormat.GetMonthName(item.WorkDate.Month)[0])@ViewBag.cultureinfo.DateTimeFormat.GetMonthName(item.WorkDate.Month).Substring(1) @item.WorkDate.Year
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finish)
                    </td>
                    <td>
                        @item.User.GetFullName()
                    </td>
                    @if (ViewBag.UserAge < 18)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SchoolHoursWorked)
                        </td>
                    }

                    @if (item.WorkDate.Subtract(DateTime.Today.AddDays(7)).Days > 0)
                    {
                        <td>
                            @Html.ActionLink("Aanpassen", "Edit", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() })
                        </td>
                        <td>
                            @Html.ActionLink("Verwijderen", "Delete", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() })
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
