@model IEnumerable<Bumbo.Data.Models.AvailableWorktime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-for=asp-action ="Create">Maak nieuwe beschikbaarheid</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Werkdag
            </th>
            <th>
                Starttijd
            </th>
            <th>
                Eindtijd
            </th>
            <th>
                Medewerker
            </th>
            @if (ViewBag.UserAge < 18)
            {
                <th>
                    Schooluren
                </th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.WorkDate.Subtract(DateTime.Today).Days > 0)
            {
                <tr>
                    @switch (@item.WorkDate.Month)
                    {
                        case (1):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Januari, @item.WorkDate.Year
                            </td>
                            break;
                        case (2):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Februari, @item.WorkDate.Year
                            </td>
                            break;
                        case (3):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Maart, @item.WorkDate.Year
                            </td>
                            break;
                        case (4):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day April, @item.WorkDate.Year
                            </td>
                            break;
                        case (5):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Mei, @item.WorkDate.Year
                            </td>
                            break;
                        case (6):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Juni, @item.WorkDate.Year
                            </td>
                            break;
                        case (7):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Juli, @item.WorkDate.Year
                            </td>
                            break;
                        case (8):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Augustus, @item.WorkDate.Year
                            </td>
                            break;
                        case (9):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day September, @item.WorkDate.Year
                            </td>
                            break;
                        case (10):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day Oktober, @item.WorkDate.Year
                            </td>
                            break;
                        case (11):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day November, @item.WorkDate.Year
                            </td>
                            break;
                        case (12):
                            <td>
                                @item.WorkDate.DayOfWeek: @item.WorkDate.Day December, @item.WorkDate.Year
                            </td>
                            break;
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finish)
                    </td>
                    <td>
                        @item.User.GetFullName()
                    </td>
                    @if (ViewBag.UserAge < 18)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SchoolHoursWorked)
                        </td>
                    }
                    <td>
                        @if (item.WorkDate.Subtract(DateTime.Today.AddDays(7)).Days > 0)
                        {
                            @Html.ActionLink("Edit", "Edit", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() });
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId, WorkDate = item.WorkDate.ToString() })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
