@using Bumbo.Data.Models
@model Bumbo.Web.Models.CreateViewModel

@{
    ViewData["Title"] = "Aanmaken";
}

<h1>Medewerkers</h1>

<h4>Aanmaken</h4>
<hr />

<form asp-action="Create">
    <h5>Personalia</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="HouseNumberLetter" class="control-label"></label>
                <input asp-for="HouseNumberLetter" class="form-control" />
                <span asp-validation-for="HouseNumberLetter" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="IBAN" class="control-label"></label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
        </div>
    </div>

    <h5>Filiaal</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control">
                    @foreach (Branch branch in ViewBag.Branches)
                    {
                        <option value="@branch.Id">
                            @branch.Name (@branch.StreetName @branch.HouseNumber @branch.HouseNumberLetter, @branch.PostalCode)
                        </option>
                    }
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="DateOfEmployment" class="control-label"></label>
                <input asp-for="DateOfEmployment" class="form-control" />
                <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Bid" class="control-label"></label>
                <input asp-for="Bid" class="form-control" />
                <span asp-validation-for="Bid" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="@Bumbo.Web.Models.UserViewModel.Roles.Manager">Manager</option>
                    <option value="@Bumbo.Web.Models.UserViewModel.Roles.User">Medewerker</option>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </select>
            </div>
        </div>
    </div>

    <h5>Account</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Wachtwoord</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
