@model IEnumerable<Bumbo.Data.Models.User>

@{
    ViewData["Title"] = "Medewerkers";
}

<h1>Medewerkers</h1>

<p>
    <a asp-action="Create">Nieuwe medewerker aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Medewerker
            </th>
            <th>
                Filiaal
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GetFullName()
                </td>
                <td>
                    @item.Branch.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a>
                    | <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (ViewBag.CurrentUserId != item.Id)
                    {
                        <span>| <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


